{% extends "base.html" %}
{% block title %}木犀博客{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/archiveBlogs.css">{% endblock %}
{% block body %}
    {% include "svg.html" %}
<div id="archiveBlogs">
</div>
{% endblock %}
{% block script %}
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  	<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
{% endblock %}