<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name = "description" content = "华中师范大学木犀团队 木犀博客">
    <meta name = "keywords" content="华中师范大学 木犀团队 博客">
    <meta name="Copyright" content = "2014-2017 Muxistudio">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--      -->
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}
    {% endblock %}
    
        <script src="/dist/manifest.js"></script>
    
        <script src="/dist/vendor.js"></script>
    
    {% block script %}{% endblock %}
</body>

</html>