<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name = "description" content = "华中师范大学木犀团队 木犀博客">
    <meta name = "keywords" content="华中师范大学 木犀团队 博客">
    <meta name="Copyright" content = "2014-2018 Muxistudio">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--     <% for (var icon in htmlWebpackPlugin.files.favicon) { %>
    <% } %> -->
    {% block header %}{% endblock %}
    {% block css %}{% endblock %}
    <link href="http://cdn.bootcss.com/highlight.js/9.4.0/styles/monokai_sublime.min.css" rel="stylesheet">  
    <script src="http://cdn.bootcss.com/highlight.js/9.4.0/highlight.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/commonStyle.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}
    {% endblock %}
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    {% block script %}{% endblock %}
</body>

</html>
