<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name = "description" content = "华中师范大学木犀团队 木犀博客">
    <meta name = "keywords" content="华中师范大学 木犀团队 博客">
    <meta name="Copyright" content = "2014-2017 Muxistudio">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--      -->
    {% block header %}{% endblock %}
    {% block css %}{% endblock %}
    <link href="http://cdn.bootcss.com/highlight.js/9.4.0/styles/monokai_sublime.min.css" rel="stylesheet">  
    <script src="http://cdn.bootcss.com/highlight.js/9.4.0/highlight.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/commonStyle.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}
    {% endblock %}
    
        <script src="/dist/manifest.js"></script>
    
        <script src="/dist/vendor.js"></script>
    
        <script src="/dist/commonStyle.js"></script>
    
    {% block script %}{% endblock %}
</body>

</html>
