{% extends "base.html" %}
{% block title %}<title>Hello Ninja</title>{% endblock %}
{% block body %}
<div id="app">
</div>
{% endblock %}
{% block script %}
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  	<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
{% endblock %}