.link {
    height: 70px;
	width: 100%;
	display: block;
	font-size: 16px;
}
.navi {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0px;
    top: 0px;
    background: #ffffff;
    overflow: hidden;
}
.sign {
    height: 30px;
    width: 100px;
    color: #959595;
    background: #dcdcdc;
    margin: 0px -2px;
    font-size: 14px;
    position: fixed;
    right: 0px;
    top: 0px;
}
.middle_right {
     margin: 100px auto;
    padding-left: 200px;
    width: 860px;
    overflow: hidden;
}
.cont {
    width: 604px;
    height: 550px;
    float: left;
}
.archiveBox, .tagBox {
    width: 185px; 
    float: right;
    margin-left: 35px;
    background-color: #ffffff;
    height: 226px;
    padding: 15px;
}

.archiveBox {
    margin-top: 30px;
}