
.wrap {
    height: 100%;
    clear: both;
    min-width: 1200px;
}
.link {
    height: 70px;
	width: 100%;
	display: block;
	font-size: 16px;
}
.navi {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0px;
    top: 0px;
    background: #ffffff;
    overflow: hidden;
}
.sign {
    height: 30px;
    width: 100px;
    color: #959595;
    background: #dcdcdc;
    margin: 0px -2px;
    font-size: 14px;
    position: fixed;
    right: 0px;
    top: 0px;
}

.cont {
    width: 604px;
    height: 550px;
    margin-top: 100px;
    padding-left: 250px;
    overflow: hidden;
}

.boxs {
    float: right;
    margin-right: 100px;
}
.archiveBox, .tagBox {
    width: 185px; 
    background-color: #ffffff;
    height: 226px;
    padding: 15px;
}

.archiveBox {
    margin-top: 30px;
}

.main {
    width: 804px;
    background: #fff;
    margin-left: 250px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 90px;
}
