@import "./color.scss";
.mobile_navi {
	z-index: 3;
	position: relative;
}

.mobile {
	min-width: 320px;
	min-height: 560px;
}

.slide-fade-enter-active {
	transition: all .3s ease;
}

.slide-fade-leave-active {
	transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}

.cont {
	position: absolute;
	top: 80px;
}

.blogs_box,
.show {
	height: 70%;
	width: 90%;
}

.show {
	text-align: center;
	font-size: 14px;
}

a {
	display: block;
}

.content_box {
	height: 40%;
	margin-bottom: 30px;
	font-size: 0;
	background-color: $white;
	border: 2px solid transparent;
}

.content_box:hover {
	border: 2px solid $yellow;
	.blog_title {
		color: $yellow;
	}
}

.avatar_size {
	width: 50px;
}

.content_icon {
	width: 20px;
	height: 20px;
	margin: 0 10px;
	vertical-align: bottom;
}

.content_top {
	height: 50px;
	font-size: 0;
}

.comment_num {
	color: $yellow;
}

.avatar_size,
.bottom_left {
	vertical-align: top;
}

.blog_username {
	margin-right: 20px;
}

.bottom_right {
	padding: 0 10px;
}

.blog_summary {
	height: 100px;
	overflow: scroll;
	margin: 10px 0;
}

.blog_title {
	font-size: 20px;
	padding: 2px;
	height: 26px;
}

.tag_list {
	font-size: 12px;
	height: 16px;
	margin-bottom: 5px;
}

.tag {
	background-color: $yellow;
	color: $white;
	font-size: 12px;
	line-height: 16px;
	margin-right: 15px;
	border-radius: 2px;
	padding: 0 3px;
}

.page_row {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-bottom: 10px;
}

.right_button {
	margin-left: 20px;
}

.button_size {
	width: 16px;
	height: 16px;
	color: $white;
	line-height: 16px;
}

.page_button:hover,
.right_button:hover {
	background-color: $yellow;
	cursor: pointer;
}

.box_style {
	width: 80%;
	margin: 0 auto;
	background-color: $white;
	padding: 10px;
}

.editComment {
	height: 75px;
	width: 80%;
	border: 2px solid #e6e6e6;
}

.submitComment {
	background-color: $orange;
	color: $white;
	width: 50px;
	height: 30px;
	border-radius: 4px;
}

.buttonBox {
	margin-top: 15px;
}