@import "./color.scss";
.wrap {
    height: 100%;
    clear: both;
	min-width: 1200px;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content:  center;
}
.link {
    height: 70px;
	width: 100%;
	display: block;
	font-size: 16px;
}
.navi {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0px;
    top: 0px;
    background: #ffffff;
	overflow: hidden;
	z-index: 3;
}

.content {
    width: 600px;
    height: 550px;
    margin-left: 100px;
	overflow: hidden;
}

.boxs {
	margin-left: 80px;
}

.logo {
	width: 120px;
}
.send, .logo {
	margin: 22px auto;
	display: block;
}
.send {
	height: 45px;
    margin-top: 50px;
}
.link_box,.link_box_first {
	border-bottom: 1px #d9dcdc solid;
}

.link_box_first {
	border-top: 1px #d9dcdc solid;
}

.icon {
	margin-left: 30px;
	width: 39px;
	margin-right: 15px;
}

.class_word {
	line-height: 70px;
}

.link_box_first:hover,.link_box:hover {
	background: $green;
	color: $white;
}

.archiveBox, .tagBox {
    width: 185px; 
    background-color: $white;
    height: 226px;
    padding: 15px;
}

.archiveBox {
    margin-top: 30px;
}

.main {
    width: 800px;
    background: $white;
    margin-left: 250px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 90px;
}
.blogs_box,
.show {
	height: 530px;
}

.show {
	text-align: center;
	font-size: 14px;
}

a {
	display: block;
}

.content_box {
	width: 100%;
	margin-bottom: 30px;
	font-size: 0;
	background-color: $white;
}
.mask {
	position: relative;
	width: 100%;
	height: 210px;
}
.mask:before {
	content: '阅读全文';
	text-align: center;
	line-height: 210px;
	display: block;
	width: 600px;
	position: absolute;
	top: 0;
}
.mask:hover::before {
	background-color:rgba(82, 139, 139, 0.7);
	font-size: 24px;
	color: $white;
}
.avatar_size {
	width: 50px;
}

.content_icon {
	width: 20px;
	height: 20px;
}

.content_top {
	height: 50px;
	font-size: 0;
}

.left_box {
	padding-top: 15px;
	width: 390px;
	vertical-align: top;
}

.right_box {
	width: 210px;
}

.content_bottom {
	font-size: 0;
}

.avatar_size,
.bottom_left {
	vertical-align: top;
}
.avatar_size {
	margin: 0 10px;
	border-radius: 2px;
}

.bottom_left {
	padding: 15px;
}

.bottom_right {
	width: 315px;
}

.blog_username {
	margin-right: 20px;
}

.blog_summary {
	height: 90px;
	overflow: hidden;
	margin: 15px 0;
	line-height: 1.5;
}

.blog_title {
	font-size: 20px;
	overflow-x: hidden;
    width: 320px;
    height: 30px;
}

.comment_num {
	text-align: center;
}

.tag_list {
	font-size: 12px;
	height: 16px;
	margin-bottom: 0;
}

.tag {
	background-color: $yellow;
	color: $white;
	font-size: 12px;
	line-height: 16px;
	margin-right: 15px;
	border-radius: 2px;
	padding: 0 3px;
}

.page_row {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-bottom: 10px;
}

.right_button {
	margin-left: 20px;
}
.button_size {
	width: 20px;
	height: 20px;
	color: $white;
	line-height: 20px;
	border-radius: 2px;
	background-color: $grey;
}

.page_button:hover,
.right_button:hover {
	background-color: $yellow;
	cursor: pointer;
}

.button_box {
	margin-top: 15px;
	font-size: 14px;
}
.sign {
    height: 30px;
    width: 100px;
    color: #959595;
    background: $grey;
    margin: 0 -2px;
    font-size: 14px;
    position: fixed;
    right: 0;
	top: 0;
}
.signup {
	line-height: 25px;
}
.signup_box,.sign {
	border-radius: 4px;
}
.signup_box:hover {
	background-color: $yellow;
	cursor: pointer;
	.signup { 
		color: $white;
	}
}

.muxi_logo {
	height: 40px;
}

.design_logo {
	height: 120px;
	border-radius: 24px;
}
.delete_blog {
	margin-left: 5px;
	cursor: pointer;
}