$yellow: #ffc162;
$orange: #f29a76;
$white: #ffffff;
$grey: #dcdcdc;
$green: #69cad3;
.vertical_align {
    vertical-align: middle;
}

.text_align {
    text-align: center;
}

.margin {
    margin: 0 auto;
}

.inline_block {
    display: inline-block;
}

.transparent {
    background-color: transparent;
}

.full_width {
    width: 100%;
}

.full_height {
    height: 100%;
}

.min_font {
    font-size: 12px;
}

.middle_font {
    font-size: 14px;
}